body{
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-size: cover;
}

.toggles{
  display: none;
}

.head-section{
  display: grid;
  height: 8vh;
  margin-left: 10px;
  margin-top: 8vh;
  grid-template-columns: repeat(20,auto);
  align-items: center;
  gap: 10px;
}

.logo-section{
  grid-column-start: 1;
  grid-column-end: 2;
  position: absolute;
}

.styled-line{
  grid-column-start: 2;
  grid-column-end: 14;
  border-top: 2px solid white;
  margin-top: 0px;
  
}

.nav-elements{
  grid-column-start: 15/20;
  color: white;
  
}

.nav-elements> span{
  opacity: 80%;
}

.nav-elements a{
  text-decoration: none;
  color: white;
}
.humberger{
  display: none;
  grid-column: 19/20;
}


  .nav-elements::before {
    content: "";
    background: inherit;
    backdrop-filter: blur(30px);
    position: absolute;
    top: 40px;
    left: 500px;
    width: 999px;
    height: 90px;
    z-index: -1;
  }
  
  .nav-elements:hover {
    text-decoration: underline 2px;
    text-underline-offset: 270%;
}


 /* for Tablet view  design */
 @media (max-width: 960px) {

  body{
    background-repeat:no-repeat;
    background-size: 113vw 113vh;
  }

  .head-section{
    margin: 2px;
  }

  .styled-line{
    border: none;
  }
 
 .nav-elements{
  font-size: 16px;

 }    

.nav-elements> span{
display: none;
}

.nav-elements::before {
  content: "";
  background: inherit;
  background: hsla(240, 27%, 26%, 0.9);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0px;
  left: 90px;
  width: 100%;
  height: 70px;
  z-index: -2;
}
 }

 
  /* for mobile view*/
  @media (max-width: 540px) {

    body{
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
    }

    .logo-section{
      margin-left: 20px;
      margin-top: 10px;
    }
   
    .nav-elements{
      display: none;
    }
    
    .toggles{
      display: block;
    }
    .humberger{
      display: block;
    }
  }

  
  @media (min-width:1600px) {
  
    body{
      padding-right: 100px;
      background-size: cover;
      position: absolute;
    }
  
    .nav-elements::before {
      content: "";
      background: inherit;
      background: hsla(240, 92%, 67%, 0.1);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 40px;
      left: 0px;
      width: 100%;
      height: 70px;
      z-index: -2;
      position: absolute;
    }
    
  }



  /*Togglebar styles  */


/* Add new styles for mobile links */


@media (max-width: 540px) {
  .nav-elements {
      display: none;
  }

  .mobile-links {
      display: flex;
      text-decoration: none;
      padding: 0;
      flex-direction: column;
      position: absolute;
      top: 40px;
      right: 0;
      background-color: #afa7a7;
      width: 60%;
      height: 100%;
      text-align: center;
      z-index: 999;
  }

  .mobile-links li{
   margin-top: 50px;
   letter-spacing: 5px;
   list-style: none;
  }

.mobile-links a{
   text-decoration: none;
}

#close{
  display: none;
}

.toggles{
  margin-left: 230px;
}

#humberger{
  width: 30px;
}

}

@media (max-width: 380px) {

.toggles{
  margin-left: 170px;
  
}

}
@media (max-width: 340px) {

.toggles{
  margin-left: 120px;
  
}

}
